<h1>La commande a bien été passée.</h1>
<a class="btn btn-primary" href="@Url.Action("Index", "Orders")">Voir l'historique de mes commandes</a>
<a class="btn btn-primary" href="@Url.Action("ViewCart", "Cart")">Retourner au panier</a>