@using Checkpoint2.Models.Entities
@model List<Checkpoint2.Models.Entities.Book>

<form id="searchForm" class="form-inline">
    <label for="searchInput">Rechercher un livre</label>
    <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchedString">
</form>

<div id="searchResults">
    @await Html.PartialAsync("_SearchResults", Model) <!-- Afficher initialement tous les livres -->
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var searchedString = $(this).val();
                $.ajax({
                    url: '@Url.Action("SearchResults", "Books")',
                    type: 'GET',
                    data: { searchedString: searchedString },
                    success: function (result) {
                        $('#searchResults').html(result);
                    },
                    error: function () {
                        $('#searchResults').html('<h5>Une erreur s\'est produite lors de la récupération des résultats.</h5>');
                    }
                });
            });
        });
    </script>
}